<div class="content flex flex-col">
  @if (selectedPokemon()) {
    <app-pokemon-card [selectedPokemon]="selectedPokemon()"></app-pokemon-card>
  }
  <mat-form-field class="mt-4">
    <mat-label>Pokemon</mat-label>
    <mat-select [formControl]="selectedPokemonControl" (selectionChange)="selected()">
      @for (pokemon of pokemonList; track pokemon.name) {
        <mat-option [value]="pokemon.name">{{ pokemon.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="mt-4">
    <mat-label>Pokemon</mat-label>
    <input matInput [formControl]="pokemonSearchControl" />
  </mat-form-field>

  <button matButton (click)="searchPokemon()">Buscar</button>
</div>
